@charset "utf-8";
html, body{
    margin: 0;
    padding: 0;
}
body{
    width: 800px;
    margin: 0 auto;
}
.wrapper{
    background: yellow;
}
.wrapper div{
    text-align: center;
    width: 200px;
    height: 200px;
    line-height: 200px;
    float: left;
    margin-right: -100%;
    background: silver;
}

/* 첫번째 줄 */
.wrapper div:nth-child(5){
    margin-left: calc((800px / 4) * 1);
}
.wrapper div:nth-child(6){
    margin-left: calc((800px / 4) * 2);
}
.wrapper div:nth-child(1){
    margin-left: calc((800px / 4) * 3);
}

/* 두번째 줄 */
.wrapper div:nth-child(14){
    margin-top: calc((800px / 4) * 1);
}
.wrapper div:nth-child(7){
    margin-top: calc((800px / 4) * 1);
    margin-left: calc((800px / 4) * 1);
}
.wrapper div:nth-child(8){
    margin-top: calc((800px / 4) * 1);
    margin-left: calc((800px / 4) * 2);
}
.wrapper div:nth-child(2){
    margin-top: calc((800px / 4) * 1);
    margin-left: calc((800px / 4) * 3);
}

/* 세번째 줄 */
.wrapper div:nth-child(15){
    margin-top: calc((800px / 4) * 2);
}
.wrapper div:nth-child(11){
    margin-top: calc((800px / 4) * 2);
    margin-left: calc((800px / 4) * 1);
}
.wrapper div:nth-child(9){
    margin-top: calc((800px / 4) * 2);
    margin-left: calc((800px / 4) * 2);
}
.wrapper div:nth-child(3){
    margin-top: calc((800px / 4) * 2);
    margin-left: calc((800px / 4) * 3);
}

/* 네번째 줄 */
.wrapper div:nth-child(16){
    margin-top: calc((800px / 4) * 3);
}
.wrapper div:nth-child(12){
    margin-top: calc((800px / 4) * 3);
    margin-left: calc((800px / 4) * 1);
}
.wrapper div:nth-child(10){
    margin-top: calc((800px / 4) * 3);
    margin-left: calc((800px / 4) * 2);
}
.wrapper div:nth-child(4){
    margin-top: calc((800px / 4) * 3);
    margin-left: calc((800px / 4) * 3);
}
